.toggleSwitchWrapper {
    background: #eee;
    width: 4rem;
    height: 2rem;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-items: center;
    padding-right: 20px;
    position: relative;

    input{
        height: 100%;
        height: 100%;
        opacity: 0;
    }

    span{
        position: absolute;
        width: 2rem;
        height: 2rem;
        border-radius: 1rem;
        background: lightgrey;
        left: 0;
        cursor: pointer;
        box-shadow: 2px 2px 4px grey;
        transition: 0.25s;
    }

    input:checked + span {
        left: 50%;
        background: blue;
    }
}