@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&family=Roboto:wght@100&display=swap');

*{
    margin: 0px;
    font-family: 'Poppins', sans-serif;
    background-color:#FFFFFF ;
}